body {
  background-color: rgb(56, 138, 170);
}

#content {
  display: flex;
  flex-direction: column;
}

#map {
  order: 1;
}

#charts {
  display: flex;
  flex-direction: row;
  order: 3;
}

#barchart{
  order: 1;
}

#barchart{
  order: 2;
}

#piechart {
  order: 3;
}

.country {
  stroke: gray;
  stroke-width: 0.4;
  stroke-opacity: 1;
}

.country:hover {
  stroke: blue;
  opacity: 60%;
}

.tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid gray;
  padding: 10px;
  pointer-events: none;
}